<h2>Compte client</h2>
<div class="divider"></div>

<div class="container mb-3">

<form [formGroup]="accountCreationForm" (ngSubmit)="onSubmit()">
		
        <div class="row">
            <div class="col-md-6">
                <div class="form-floating">
                    <select class="form-select" id="civility" formControlName="civility" [ngClass]="{ 'is-invalid': submitted && accountCreationForm.controls.civility.errors }">
                        <option selected disabled value="">Choisir...</option>
                        <option value="1">Homme</option>
                        <option value="2">Femme</option>
                    </select>
                    <label for="civility">Civilité <span class="blue">*</span></label>
                </div>
                <div *ngIf="submitted && accountCreationForm.controls.civility.errors" class="verification">
                    <div *ngIf="accountCreationForm.controls.civility.errors.required">Civilité requise.</div>
                </div>

                <div class="form-floating">
                    <input type="text" class="form-control" id="lastname" formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && accountCreationForm.controls.lastname.errors }">
                    <label for="lastname">Nom <span class="blue">*</span></label>
                </div>
                <div *ngIf="submitted && accountCreationForm.controls.lastname.errors" class="verification">
                    <div *ngIf="accountCreationForm.controls.lastname.errors.required">Nom requis.</div>
                </div>

                <div class="form-floating">
                    <input type="text" class="form-control" id="firstname" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && accountCreationForm.controls.firstname.errors }">
                    <label for="firstname">Prénom <span class="blue">*</span></label>
                </div>
                <div *ngIf="submitted && accountCreationForm.controls.firstname.errors" class="verification">
                    <div *ngIf="accountCreationForm.controls.firstname.errors.required">Prénom requis.</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating" style="margin-bottom: 0 ;">
                    <input type="text" class="form-control" id="adress" formControlName="adress" [ngClass]="{ 'is-invalid': submitted && accountCreationForm.controls.adress.errors }">
                    <label for="adress">Adresse <span class="blue">*</span></label>
                </div>
                <div *ngIf="submitted && accountCreationForm.controls.adress.errors" class="verification">
                    <div *ngIf="accountCreationForm.controls.adress.errors.required">Adresse requise.</div>
                </div>

                 <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="cp" formControlName="cp" [ngClass]="{ 'is-invalid': submitted && accountCreationForm.controls.cp.errors }">
                            <label for="cp">Code postal <span class="blue">*</span></label>
                        </div>
                        <div *ngIf="submitted && accountCreationForm.controls.cp.errors" class="verification">
                            <div *ngIf="accountCreationForm.controls.cp.errors.required">Code postal requis.</div>
                            <div *ngIf="accountCreationForm.controls.cp.errors.pattern">Merci d'indiquer les 5 chiffres du code postal.</div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="city" formControlName="city" [ngClass]="{ 'is-invalid': submitted && accountCreationForm.controls.city.errors }">
                            <label for="city">Ville <span class="blue">*</span></label>
                        </div>
                        <div *ngIf="submitted && accountCreationForm.controls.city.errors" class="verification">
                            <div *ngIf="accountCreationForm.controls.city.errors.required">Ville requise.</div>
                        </div>
                    </div>
                </div>

                <div class="form-floating" style="margin-top: 0 ;">
                    <select class="form-select" id="country" formControlName="country" [ngClass]="{ 'is-invalid': submitted && accountCreationForm.controls.country.errors }">
                        <option selected disabled value="">Choisir...</option>
                        <option value="1">Allemagne</option>
                        <option value="2">Autriche</option>
                        <option value="3">Belgique</option>
                        <option value="4">Danemark</option>
                        <option value="5">Espagne</option>
                        <option value="6">France</option>
                        <option value="7">Grèce</option>
                        <option value="8">Hongrie</option>
                        <option value="9">Italie</option>
                        <option value="10">Luxembourg</option>
                        <option value="11">Norvège</option>
                        <option value="12">Pays-Bas</option>
                        <option value="13">Pologne</option>
                        <option value="14">Portugal</option>
                        <option value="15">Roumanie</option>
                        <option value="16">Royaume-Uni</option>
                        <option value="17">Suède</option>
                        <option value="18">Suisse</option>
                    </select>
                    <label for="country">Pays <span class="blue">*</span></label>
                </div>
                <div *ngIf="submitted && accountCreationForm.controls.country.errors" class="verification">
                    <div *ngIf="accountCreationForm.controls.country.errors.required">Pays requis.</div>
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="form-floating" style="margin-top: 0 ;">
                    <input type="tel" class="form-control" id="phoneNumber" formControlName="phoneNumber" [ngClass]="{ 'is-invalid': submitted && accountCreationForm.controls.phoneNumber.errors }">
                    <label for="phoneNumber">Téléphone <span class="blue">*</span></label>
                </div>
                <div *ngIf="submitted && accountCreationForm.controls.phoneNumber.errors" class="verification">
                    <div *ngIf="accountCreationForm.controls.phoneNumber.errors.required">Numéro de téléphone requis.</div>
                    <div *ngIf="accountCreationForm.controls.phoneNumber.errors.pattern">Le format de votre numéro de téléphone n'est pas valide.</div>
                </div>

                <div class="form-floating">
                    <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && accountCreationForm.controls.email.errors }">
                    <label for="email">Email <span class="blue">*</span></label>
                </div>
                <div *ngIf="submitted && accountCreationForm.controls.email.errors" class="verification">
                    <div *ngIf="accountCreationForm.controls.email.errors.required">Adresse mail requise.</div>
                    <div *ngIf="accountCreationForm.controls.email.errors.email">Le format de votre adresse mail n'est pas valide.</div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-floating" style="margin-bottom: 0 ; margin-top: 0;">
                    <input type="text" class="form-control" id="login" formControlName="login" [ngClass]="{ 'is-invalid': submitted && accountCreationForm.controls.login.errors }">
                    <label for="login">Identifiant <span class="blue">*</span></label>
                </div>
                <div *ngIf="submitted && accountCreationForm.controls.login.errors" class="verification">
                    <div *ngIf="accountCreationForm.controls.login.errors.required">Identifiant requis.</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && accountCreationForm.controls.password.errors }">
                    <label for="password">Mot de passe <span class="blue">*</span></label>
                </div>
                <div *ngIf="submitted && accountCreationForm.controls.password.errors" class="verification">
                    <div *ngIf="accountCreationForm.controls.password.errors.required">Mot de passe requis.</div>
                    <div *ngIf="accountCreationForm.controls.password.errors.pattern">Votre mot de passe doit contenir au minimum 8 caractères, une minuscule, une majuscule, un chiffre et un caractère spécial.</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="passwordConfirmation" formControlName="passwordConfirmation" [ngClass]="{ 'is-invalid': submitted && accountCreationForm.controls.passwordConfirmation.errors }">
                    <label for="passwordConfirmation">Confirmation du mot de passe <span class="blue">*</span></label>
                </div>
                <div *ngIf="submitted && accountCreationForm.controls.passwordConfirmation.errors" class="verification">
                    <div *ngIf="accountCreationForm.controls.passwordConfirmation.errors.required">Merci de confirmer votre mot de passe.</div>
                    <div *ngIf="accountCreationForm.controls.passwordConfirmation.errors.mustMatch">Les mots de passe ne sont pas identiques.</div>
                </div>
            </div>

        </div>

        <div style="color: white;"><span class="orange">*</span> Ces champs sont obligatoires.</div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-orange">Envoyer</button>
        </div>       

</form>

</div>
