
<h2>Compte client</h2>
<div class="divider"></div>

<div class="container">
    <p>Civilité : {{user.civility}} </p><br>
    <p>Nom : {{user.lastname | uppercase}}</p><br>
    <p>Prénom : {{user.firstname | titlecase}}</p><br>
    <p>Adresse : {{user.adress | titlecase}}</p><br>
    <p>Code Postal : {{user.cp}}</p><br>
    <p>Ville : {{user.city | uppercase}}</p><br>
    <p>Pays : {{user.country}} </p><br>
    <p>Numéro de téléphone : {{user | phone }}</p><br>
    <p>E-mail : {{user.email}}</p><br>
    <p>Login : {{user.login}}</p><br>
    <p>Mot de passe : {{user.password}}</p>
</div>

<h2 class="position-relative">Adresses complémentaires</h2>

<div class="divider"></div>

<div class="container">
    <form class="row g-3" [formGroup]="adressForm">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Adresse supplémentaire" formControlName="adress">
            <button (click)="addAdress()" class="btn btn-outline btn-orange" type="button">Ajouter cette adresse</button>
          </div>
      </form>
     
      <ul *ngFor="let adress of adresses$ | async">
        <li>
            <div class="input-group mb-3">
                <button (click)="deleteAdress(adress)" class="btn btn-orange" type="button" style="margin-right: 20px;"><i class="bi bi-trash-fill"></i></button>
                <p>{{adress}}</p>
            </div>
        </li>
      </ul>
</div>
        

